


.link-style {
  color: #387ED1;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 500;
}

.link-style:hover {
  color: #444141;
}

.image-hover {
  transition: opacity 0.3s ease;
}

.image-hover:hover {
  opacity: 0.7;
}

.ml-50 {
  margin-left: 50px;
}
.text-darks{
  color: #424242;
}



